
:root {
    --main-color: #232323e0;
    --sec-color: #fea82f;
    --third-color: #757575;
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
    --font-mont_s:'Montserrat Alternates', sans-serif;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.custom-card {
  display: inline-block;
  vertical-align: middle;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  background-color: var(--third-color);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.margin-custom-top {
  margin-top: 100px;
}

/* .custom-session {

  z-index: 1000;

} */

.custom-card:hover, .custom-card:focus, .custom-card:active {
  background: none;
}



.nav-custom  {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
}


.custom-nav {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  font: 120% system-ui;
  text-align: center;
}

.custom-font-card {
  font-family: var(--font-mont_s);
  font-weight: 600;
}

.custom-btn {
  background-color: var(--sec-color);
  text-decoration: none;
  padding: 4px;

}
#text-nav-btn { 
  font-weight: bolder;
  
  font-size: 17px;
}
.custom-btn:hover {
  color: #fff;
  border-color: var(--sec-color);
}

.custom-footer {
  width: 100% !important;
  background-color: #72aed48a;
  color: var(--third-color);
  clear: both;
  position: relative;
  margin-top: 200px;

}

.custom-brand {
    letter-spacing: 3px;
    font-size: 26px;
}

/* STILE LOGIN */

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .form-signin {
    width: 100%;
  }

  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }

  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .bg-detail  {
    background-color: var(--sec-color);
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  /* #sticky-footer {


  } */
  .text-main {
    color: var(--main-color);
  }

  .text-main:hover {
    color: white;
    transition: 0.2s;
  }

  .btn-outline-sec {
    color: var(--sec-color);
    border-color: var(--sec-color);
  }

  .btn-outline-sec:hover {
    color: #fff;
    background-color: var(--sec-color);
    border-color: var(--sec-color);
  }

  .bg-main {
    background-color: var(--main-color);
  }

  .bg-sec {
    background-color: var(--sec-color);
  }

  .text-sec {
    color: var(--sec-color);
  }

  .text-sec:hover {
    color: white;
    transition: 0.2s;
  }

  .text-U-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }

  .text-U-brand:hover {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    transition: 0.2s;
  }

  .dropdown-item:hover {
    color: white;
    background-color: var(--main-color);
}


  /* FINE STILE LOGIN */

  .custom-category{
      font-size: 18px;
      word-wrap: break-word;
      font-family: var(--font-mont_s);
      font-weight: 600;
  }

  .custom-card {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background;
    transition-property: background;
    box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
    background-color:#9d9d9d66;
    /* Hack to improve aliasing on mobile/tablet devices */
  }


  .custom-card:hover, .custom-card:focus, .custom-card:active {
    background: none;
  }

.custom-nav-search {
  display: grid;

  font: 120% system-ui;
  text-align: center;

}

/* CUSTOM DETAIL CARD  */ 

.custom-detail-card {
  display: grid;
  grid-template-rows: 1fr;
  background-color: var(--sec-color);
}



.custom-detail-card img {
      max-width: 100%;
      filter: drop-shadow(1px 1px 3px red);
    }

/* ----- Product Section ----- */
.product {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  margin: auto;
  padding: 2.5em 0;
  min-width: 600px;
  background-color: white;
  border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
  position: relative;
}

.photo-container {
  position: absolute;
  left: -9.5em;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-img {
  width: 396px;
  margin: auto;
}

.photo-main {
  border-radius: 6px 6px 0 0;
  width: 400px;
  background-color: var(--main-color);
  /* background: radial-gradient(#e5f89e, rgba(27, 27, 27, 0.972)); */
}
  .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #fff;
  }
  .controls i {
      cursor: pointer;
    }
  

    .controls img {
    position: absolute;
    left: -3.5em;
    top: 2em;
    max-width: 110%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg)
      drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
  }

.photo-album {
  padding: 0.7em 1em;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
}
.photo-album ul {
    display: flex;
    justify-content: space-around;
  }

  .photo-album   li {
    float: left;
    width: 55px;
    height: 55px;
    padding: 7px;
    border: 1px solid red;
    border-radius: 3px;
  
}

/* ----- Informations Section ----- */
.product__info {
  padding: 0.8em 0;
}



.price {
  margin: 1.5em 0;
  color: red;
  font-size: 1.2em;

}






.description {
  clear: left;
  margin: 2em 0;
}

.buy--btn {
  padding: 1.5em 3.1em;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: red;
  box-shadow: 2px 2px 25px -7px red;
  cursor: pointer;
}

.buy--btn:active {
  transform: scale(0.97);
}

/* END CUSTOM DETAIL CARD */



/* START DETAIL CAROUSEL  */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}



* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  
}



.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
  color: red;
}

.carousel::after,
.carousel__next {
  right: -1rem;
  color: red;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 20px;
  
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  background-size: 20px;
}

/* END DETAIL CAROUSEL */


@media screen and (max-width:1200px){
    .custom-category{
        font-size: 16px;
    }
    

}

@media screen and (min-width: 614px) {
  #button-navbar {
    display: none;
  }

  #button-navbar {
    display: none;
  }
}

