
:root {
    --main-color: #232323e0;
    --sec-color: #fea82f;
    --third-color: #757575;
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
    --font-mont_s:'Montserrat Alternates', sans-serif;
    --font-ubuntu:'Ubuntu', 'sans-serif';
}

/* body {
    height: 2000px;
} */


.card-custom {
    position: relative;
    padding: 3px;
}

.card-custom .custom-card-ad {
    /* position: relative; */
    /* left: 0; */


    position: absolute;
    bottom: 4%;

 right: 4%;
}
.container .custom-card-home img {
    -webkit-box-shadow: 8px 10px 10px 5px rgba(66,66,66,0.63);
    box-shadow: 8px 10px 10px 5px rgba(66,66,66,0.63);
    opacity: 0.9;

}

.text_create {
    font-family: var(--font-mont_s);
    color: var(--third-color);
}

.custom_desc {
    height: 140px;
}


.container .custom-card-home .card-custom {
    z-index: 2;
    right: 22px;
    position: relative;
    background: linear-gradient(to left, #fbb825b7, #ffffff81);
    top: 24px;
}

.card-custom {
    -webkit-box-shadow: 8px 17px 17px 5px rgba(66,66,66,0.63);
    box-shadow: 8px 17px 17px 5px rgba(66,66,66,0.63);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);

    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}

.card-custom  {
    color: var(--main-color);
    padding-left: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.card-custom h2 {
    font-family:  var(--font-ubuntu);
}

.card-custom {
    font-family: var(--font-mont_s);
}
.card-custom p {
    margin-top: 40px;
    word-wrap: break-word;
    margin-right: 20px;
}
/* INIZIO CARD ALL ANNOUNCEMENT */


.container_card {
    /* width: 100vw;
    height: 100vh; */
    /* display: flex; */
   
    /* align-items: center;
    justify-content: center; */
    border: 1px solid #ddd;
    overflow: auto;
overflow-y: hidden;
-ms-overflow-y: hidden;


}


.card_ad_all {
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    font-family: var(--font-mont_s);
    border-radius: 18px;
    background: rgba(51, 51, 51, 0.877);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.card_image_all {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}


.card_text_all {
    grid-area: text;
    margin: 25px;
}

.card_text_all .date {
    color: var(--sec-color);
    font-size: 13px;
}
.card_text_all p {
    color: var(--third-color);
    font-family: 15px;
    font-weight: 300px;
}

.card_text_all h2 {
    margin-top: 0px;
    font-size: 28px;

}
.card_stats_all {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: var(--sec-color);
}

.card_stats_all .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color:var(--third-color);
}

.card_stats_all .type {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.card_stats_all .value {
    font-size: 20px;
    font-weight: 500;
}

/* carousel  */
/*
.carousel__indicator.carousel-slide{
    background: (0,0,0,.75);
}
/* .carousel-main {
    /* position: relative;
     height: 200px;
    width: 80%;
    margin: 0 auto;

} */
/*
.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: green;
    padding: 10px;
    height: 100%;
    position: relative;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style:none;
}

.carouse__slide {
    position: absolute;
    top: 0;
    bottom: 0;

}

.carousel__button {
    position: absolute;
    top: 50%;
    height: 200px;
    transform: translate(-50%);
    border: 0;
    background: transparent;
    cursor: pointer;
}
.carousel__button i {
    width: 12px;
}

.carouse__button--left {
    left: -40px;
}

.carouse__button--right {
    right: 40px;
}

.carouse__nav {
    background: black;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    margin: 0 12;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background:black;
} */

.custom-label {
    font-family: var(--font-ubuntu);
}
.custom-home-color {
    color: var(--sec-color);
    background: var(--third-color);

}

.custom-row-label
{
    background-color: var(--sec-color);
}

.cstm-label  {
    padding-left: 0;
}
@media screen and (max-width:1200px){
    .card-custom {
        margin: 0;
        color: var(--main-color);
        padding-left: 20px;
        width: 80%;

        /* margin-top: 16px;
        /* margin-bottom: 10px;*/
    }
    .container .custom-card-home .card-custom {

        top: -20px;
        padding-bottom: 40px;
    }

}


